In [1]:
import streamlit as st
#from utils import PrepProcesor, columns

In [2]:
import numpy as np
import pandas as pd
import joblib

In [33]:
model = joblib.load('../Models/model_rf_credit.joblib')

#### Features:

more importante features:

In [102]:
age = 25 # integer between 0 and 100
sex = 1 # (1):Male, (2):Female
account_balance = 1 # Status of existing checking account. (1): < 0 Eu, (2): 0 <= < 400 Eu, (3):  >= 400 Eu , (4): no checking account
credit_amount = 2000 #credit amount in eur
duration = 26 #duration of the credit in months (5 to 72)
savings = 3 #total savings. (1): < 200 Eu, (2) between 200 and 1000 Eu, (3) between 1000 and 2000 Eu, (4) >= 2000 Eu, (5) unknown/ no savings account 
property = 3 #  (1) real state, (2), if not the previous, building society savings agreement/ life insurance, (3) if not the previous, car, (4) no property
guarantors = 0 #(1): no guarantor, (2):co-applicant, (3):guarantor
job = 1 # (0):unemployed/ unskilled - non-resident, (1):unskilled - resident, (2)skilled employee / official, (3):management/ self-employed/highly qualified employee/ officer


df = pd.DataFrame({'age':[age],'sex':[sex],'job':[job], 'credit_amount':[credit_amount], 'duration':[duration], 'account_balance':[account_balance],
       'credit_history':[credit_history], 'savings':[savings], 'length_of_current_employment':[length_of_current_employment],
       'marital_status':[marital_status], 'guarantors':[guarantors], 'property':[property], 'concurrent_credits':[concurrent_credits],
       'no_of_credits_at_this_bank':[no_of_credits_at_this_bank], 'no_of_dependents':[no_of_dependents], 'telephone':[telephone],
       'foreign_worker':[foreign_worker], 'purpose_business':[purpose_business], 'purpose_car':[purpose_car],
       'purpose_domestic_appliances':[purpose_domestic_appliances], 'purpose_education':[purpose_education],
       'purpose_furniture_equipment':[purpose_furniture_equipment], 'purpose_radio_tv':[purpose_radio_TV], 'purpose_repairs':[purpose_repairs],
       'purpose_vacation_others':[purpose_vacation_others], 'housing_free':[housing_free], 'housing_own':[housing_own],
       'housing_rent':[housing_rent]})
df

prob_of_get_the_credit = model.predict_proba(df)[0][1].round(2)
prob_of_get_the_credit

0.66

other features:

In [90]:
length_of_current_employment = 1  # (1): unemployed, (2): < 1 year, (3):1 to 4 years, (4): 4 to 7 years, (5): >= 7 years
credit_history = 1
marital_status = 3
concurrent_credits = 3
no_of_credits_at_this_bank = 1
no_of_dependents = 1
telephone = 1
foreign_worker = 2
purpose_business = 0 
purpose_car = 1
purpose_domestic_appliances = 0
purpose_education = 0
purpose_furniture_equipment = 0
purpose_radio_TV = 0
purpose_repairs = 0
purpose_vacation_others = 0
housing_free = 0
housing_own = 0
housing_rent = 1

In [6]:
columns = ['age', 'sex', 'job', 'credit_amount', 'duration', 'account_balance',
       'credit_history', 'savings', 'length_of_current_employment',
       'marital_status', 'guarantors', 'property', 'concurrent_credits',
       'no_of_credits_at_this_bank', 'no_of_dependents', 'telephone',
       'foreign_worker', 'purpose_business', 'purpose_car',
       'purpose_domestic_appliances', 'purpose_education',
       'purpose_furniture_equipment', 'purpose_radio_TV', 'purpose_repairs',
       'purpose_vacation_others', 'housing_free', 'housing_own',
       'housing_rent']

### DataFrame for prediction:

In [12]:
df = pd.DataFrame({'age':[age],'sex':[sex],'job':[job], 'credit_amount':[credit_amount], 'duration':[duration], 'account_balance':[account_balance],
       'credit_history':[credit_history], 'savings':[savings], 'length_of_current_employment':[length_of_current_employment],
       'marital_status':[marital_status], 'guarantors':[guarantors], 'property':[property], 'concurrent_credits':[concurrent_credits],
       'no_of_credits_at_this_bank':[no_of_credits_at_this_bank], 'no_of_dependents':[no_of_dependents], 'telephone':[telephone],
       'foreign_worker':[foreign_worker], 'purpose_business':[purpose_business], 'purpose_car':[purpose_car],
       'purpose_domestic_appliances':[purpose_domestic_appliances], 'purpose_education':[purpose_education],
       'purpose_furniture_equipment':[purpose_furniture_equipment], 'purpose_radio_tv':[purpose_radio_TV], 'purpose_repairs':[purpose_repairs],
       'purpose_vacation_others':[purpose_vacation_others], 'housing_free':[housing_free], 'housing_own':[housing_own],
       'housing_rent':[housing_rent]})
df

,age,sex,job,credit_amount,duration,account_balance,credit_history,savings,length_of_current_employment,marital_status,...,purpose_car,purpose_domestic_appliances,purpose_education,purpose_furniture_equipment,purpose_radio_tv,purpose_repairs,purpose_vacation_others,housing_free,housing_own,housing_rent
0,34,1,0,500,36,3,0,2,1,4,...,0,0,0,0,0,0,1,0,0,1

###  Prediction:

In [26]:
model.predict(df)

array([0])

In [30]:
model.predict_proba(df)

array([[0.61733207, 0.38266793]])

In [29]:
prob_of_get_the_credit = model.predict_proba(df)[0][1].round(2)
prob_of_get_the_credit

0.38